{% extends "base.html" %}

{% block title %}My Orders{% endblock %}

{% block content %}
<h3 class="mb-4">My Orders</h3>

<table class="table table-bordered table-striped shadow">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Invoice</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.status }}</td>
            <td>₹ {{ order.total_amount }}</td>
            <td>{{ order.order_date }}</td>
            <td>
                {% if order.status == 'DELIVERED' %}
                    <a class="btn btn-sm btn-primary" href="/invoice/{{ order.id }}/">View</a>
                {% else %}
                    <span class="text-muted">Not Available</span>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No orders</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
